<%= render "shared/banner_home" %>
<div class="container">

  <div class="row justify-content-center my-3">
    <div class="col-6">
      <h2>Choose & customize your cocktail !</h2>
    </div>
  </div>

  <!-- Alert if there is no data matching with the query -->
  <% if @cocktails == [] %>
    <div class="row justify-content-center my-3">
      <div class="flash flash-danger alert alert-dismissible fade show" role="alert">
        <span><strong>Oops!</strong> 😱 there is no cocktail for <%= params[:query] %>.</span>
        <a data-dismiss="alert" aria-label="Close">
          <i class="fas fa-times"></i>
        </a>
      </div>
    </div>
  <% end %>
  <!-- end of alert  -->

  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-4 mb-3">

        <!-- card -->
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cocktail.photo %>)">
          <%= link_to cocktail.name, cocktail  %>
          <%= link_to cocktail_path(cocktail), method: :delete, data: { confirm: "Are you sure ?" } do %>
            <div class="white-cross" >
              X
            </div>
          <% end %>
        </div>

      </div>
    <% end %>

  </div>
</div>

