<div class="container">
  <div class="container-form">
    <h2 class="text-center">Add a dose to </h2>
    <h2 class="text-center"><%= @cocktail.name %></h2>
    <div class="p-2">
      <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.input :description %>
        <%= f.association :ingredient %>
        <%= f.submit 'Add a dose', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
